footer,
footer a {
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 12px;
}

footer a:hover {
  color: violet;
  font-style: italic;
  text-decoration: none;
}

body {
  background-color: whitesmoke;
}
